body, html {
	background-color:Snow;
	font-family:Arial, Helvetica, sans-serif;
	width:100%;
	margin:0;
	padding:0;
	text-align:center;
}

h1 {
	background-color:#6698FF;
	color:#EAEAEA;
	padding:20px 0;
	margin:0;
}

a img {
	border:0;
}

td {
	font-size:11px;
}

.image {
	background-color:#eee;
	border:1px solid #ddd;
	border-bottom:1px solid #bbb;
	padding:20px;
	margin:20px;
}
.image input[type="image"] {
	width: 300px;
}
